<div class="banner">
  <%= cl_image_tag("https://res.cloudinary.com/dsn2mbfvg/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1642674751/fkzxcyreetz0dhljglrm.jpg",
  crop: :fill) %>
  <div class="container">
    <h1>My watch list</h1>
    <h4>Let's decide what movie to watch!</h2>
    <%= link_to "Add a List", new_list_path(@list), class: "btn btn-light"  %>
  </div>
</div>
<div class="conatiner">
  <h1>Lists</h1>
  <% @lists.each do |list| %>
    <div class="cards">
      <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/1600x900/?<%= "#{list.name}" %>)">
      <%= link_to list.name, list_path(list) %>
      </div>
    </div>
  <% end %>
</div>



