<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/1600x900/?cinema&format=webp)">
  <div class="container">
    <h1 class="cursive">At the movies</h1>
    <h1>My watch list</h1>
    <h4>Let's decide what movie to watch!</h2>
    <%= link_to "Add a List", new_list_path(@list), class: "btn btn-light"  %>
  </div>
</div>
<div class="drk-bg">
  <div class="container">
    <% if @lists.any? %>
      <div class="cards">
        <% @lists.each do |list| %>
          <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(http://source.unsplash.com/1600x900/?<%= "#{list.name}" %>&format=webp)">
            <%= link_to list.name, list_path(list) %>
          </div>
        <% end %>
      </div>
    <% else %>
      <h1>Nothing here yet!</h1>
      <%= link_to "Add a List", new_list_path(@list), class: "btn btn-light"  %>
    <% end %>
  </div>
</div>



