<div class="banner">
  <%= cl_image_tag("http://source.unsplash.com/1600x900/?cinema",
  crop: :fill) %>
  <div class="container">
    <h1>My watch list</h1>
    <h4>Let's decide what movie to watch!</h2>
    <%= link_to "Add a List", new_list_path(@list), class: "btn btn-light"  %>
  </div>
</div>
<div class="conatiner">
  <h1>Lists</h1>
  <% @lists.each do |list| %>
    <div class="cards">
      <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/1600x900/?<%= "#{list.name}" %>)">
      <%= link_to list.name, list_path(list) %>
      </div>
    </div>
  <% end %>
</div>



